<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <h1>{{ name }}</h1>
        <p>Email: {{ email }}</p>
        <p>Teléfono: {{ phone }}</p>
        <img [src]="picture"/>
        <button (click) = "handleClick()">Encontrar usuario</button>
        </div>
</body>
</html>

